.container {
    .addTodos{
        display: flex;
        place-content: center;
    }
    .dataList{
        .item {
            span {
                margin-left: 2%;
            }
            display: flex;
            justify-content: space-between;
            padding: 2% 0;
            border: 1px solid gray;
            .button > button {
                margin: 0 5px;
            }
        }
    }

}